#Syntax: pandas.DataFrame( data, index, columns, dtype, copy)

In [ ]:
Sr.No	Parameter & Description
1	data      data takes various forms like ndarray, series, map, lists, dict, constants and also another DataFrame.

2	index     For the row labels, the Index to be used for the resulting frame is Optional Default np.arrange(n) if no index is passed.

3	columns   For column labels, the optional default syntax is - np.arrange(n). This is only true if no index is passed.

4	dtype     Data type of each column.

5	copy      This command (or whatever it is) is used for copying of data, if the default is False.

Create DataFrame
A pandas DataFrame can be created using various inputs like âˆ’

Lists
dict
Series
Numpy ndarrays
Another DataFrame

In [1]:
import pandas as pd
import numpy as np

In [ ]:
#Create Empty DataFrame

df=pd.DataFrame()
print(df)

In [ ]:
#Create DataFrame from List

df=pd.DataFrame([1,2,3,4])
print(df)

In [ ]:
data=[['Alex',12],['John',20],['Alice',15]]
df=pd.DataFrame(data,columns=['Name','Age'])
print(df)
print(type(data))

In [ ]:
#Using additional dtype keyword

data=[['Alex',12],['John',20],['Alice',15]]
df=pd.DataFrame(data,columns=['Name','Age'],dtype=float)
print(df)

# Create a DataFrame from Dict of ndarrays / Lists
All the ndarrays must be of same length. If index is passed, then the length of the index should equal to the length of the arrays.

If no index is passed, then by default, index will be range(n), where n is the array length.

In [ ]:
data={'Name':['Alex','John','Alice','Miller','Nash'],'Age':[13,12,14,12,11]}
df=pd.DataFrame(data)
print(df)
#additional just for excercise
print(data['Name'])
print(data['Name'][2])

In [ ]:
#Index DataFrames 
data={'Name':['Alex','John','Alice','Miller','Nash'],'Age':[13,12,14,12,11]}
df=pd.DataFrame(data,['Rank1','Rank2','Rank3','Rank4','Rank5'])
#most Preferred with index lable to avoid confusion with other tags
de=pd.DataFrame(data,index=['Rank1','Rank2','Rank3','Rank4','Rank5'])
print(df)
print()
print(de)

In [ ]:
#DataFrame from list of dicts

data= [{'a':1,'b':2,},{'a':5,'b':3,'c':7}]
df=pd.DataFrame(data)
print(df)

In [ ]:
data= [{'a':1,'b':2,},{'a':5,'b':3,'c':7}]
df=pd.DataFrame(data,index=['First','Second'])
print(df)

In [ ]:
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]

#With two column indices, values same as dictionary keys
df1 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b'])

#With two column indices with one index with other name
df2 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b1'])
print (df1)
print()
print (df2)

# DataFrame from Dict of Series

In [ ]:
data={'One':pd.Series([1,2,3],index=['a','b','c']),
      'Two':pd.Series([5,6,7],index=['e','f','g']),
      'Three':pd.Series([8,9,10],index= ['a','b','c'])
     }
df= pd.DataFrame(data)
print(df)

In [ ]:
print(df['One'])

In [ ]:
# Adding column to DataFrame
df['Four']=pd.Series([1,2,3],index=['a','b','c'])

print(df)

In [ ]:
print('Adding new column using the existing column in DataFrame')
df['Five']=df['One']+df['Four']
print(df)

In [ ]:
#Deleting perticular column del Function
del df['Two']
print(df)

In [ ]:
#using pop function

df.pop('Four')
print(df)

# Row Selection, Addition, and Deletion
Row Selection methods loc and iloc

In [ ]:
d= {'One':pd.Series([1,2,3],index=['a','b','c']),
    'Two':pd.Series([4,5,6],index=['a','b','c'])
   }
df2=pd.DataFrame(d)
print(df)
print()
print(df.loc['b']) #selection by lable
print()
print(df.iloc[0]) #Selection by interger location

In [ ]:
data={'One':pd.Series([1,2,3],index=['a','b','c']),
      'Two':pd.Series([5,6,7],index=['e','f','g']),
      'Three':pd.Series([8,9,10],index= ['a','b','c']),
      'Four':pd.Series([11,12,13],index=['a','b','c'])
     }
df= pd.DataFrame(data)
print(df)
print()
print(df[2:4]) #Row slicing

# Addition of row in DataFrame
append method

In [31]:
data={'One':pd.Series([1,2,3],index=['a','b','c']),
      'Two':pd.Series([5,6,7],index=['a','b','c']),
      'Three':pd.Series([8,9,10],index= ['a','b','c']),
      'Four':pd.Series([11,12,13],index=['a','b','c'])
     }
df= pd.DataFrame(data)
print(df)
print()
df2= pd.DataFrame()
df2['Five']= pd.Series([14,15,16],index=['a','b','c'])
print(df2)
df=df.append(df2,sort=False)
print(df)

   One  Two  Three  Four
a    1    5      8    11
b    2    6      9    12
c    3    7     10    13

   Five
a    14
b    15
c    16
   One  Two  Three  Four  Five
a  1.0  5.0    8.0  11.0   NaN
b  2.0  6.0    9.0  12.0   NaN
c  3.0  7.0   10.0  13.0   NaN
a  NaN  NaN    NaN   NaN  14.0
b  NaN  NaN    NaN   NaN  15.0
c  NaN  NaN    NaN   NaN  16.0

# Deletion of Row

#Use index label to delete or drop rows from a DataFrame.

In [35]:
## droping rows where index is interger

data={'One':pd.Series([1,2,3]),
      'Two':pd.Series([5,6,7]),
      'Three':pd.Series([8,9,10]),
      'Four':pd.Series([11,12,13])
     }
df= pd.DataFrame(data)
print(df)
print()
df2= pd.DataFrame()
df2['Five']= pd.Series([14,15,16])
print(df2)
print()
df=df.append(df2,sort=False)
print(df)
df.drop(0)

   One  Two  Three  Four
0    1    5      8    11
1    2    6      9    12
2    3    7     10    13

   Five
0    14
1    15
2    16

   One  Two  Three  Four  Five
0  1.0  5.0    8.0  11.0   NaN
1  2.0  6.0    9.0  12.0   NaN
2  3.0  7.0   10.0  13.0   NaN
0  NaN  NaN    NaN   NaN  14.0
1  NaN  NaN    NaN   NaN  15.0
2  NaN  NaN    NaN   NaN  16.0

   One  Two  Three  Four  Five
1  2.0  6.0    9.0  12.0   NaN
2  3.0  7.0   10.0  13.0   NaN
1  NaN  NaN    NaN   NaN  15.0
2  NaN  NaN    NaN   NaN  16.0

In [38]:
# Dropping rows where index is a letter


import pandas as pd

data={'One':pd.Series([1,2,3],index=['a','b','c']),
      'Two':pd.Series([5,6,7],index=['a','b','c']),
      'Three':pd.Series([8,9,10],index= ['a','b','c']),
      'Four':pd.Series([11,12,13],index=['a','b','c'])
     }
df= pd.DataFrame(data)
print(df)
print()
df2= pd.DataFrame()
df2['Five']= pd.Series([14,15,16],index=['a','b','c'])
print(df2)
df=df.append(df2,sort=False)
print()
print(df)
print()
#Deletion of Row

#Use index label to delete or drop rows from a DataFrame.

df.drop(df.index[0],inplace=True)
print(df)

   One  Two  Three  Four
a    1    5      8    11
b    2    6      9    12
c    3    7     10    13

   Five
a    14
b    15
c    16

   One  Two  Three  Four  Five
a  1.0  5.0    8.0  11.0   NaN
b  2.0  6.0    9.0  12.0   NaN
c  3.0  7.0   10.0  13.0   NaN
a  NaN  NaN    NaN   NaN  14.0
b  NaN  NaN    NaN   NaN  15.0
c  NaN  NaN    NaN   NaN  16.0

   One  Two  Three  Four  Five
b  2.0  6.0    9.0  12.0   NaN
c  3.0  7.0   10.0  13.0   NaN
b  NaN  NaN    NaN   NaN  15.0
c  NaN  NaN    NaN   NaN  16.0